@import "tailwindcss";

@theme {
    --text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    --text-shadow-sm: 0 2px 2px rgba(0, 0, 0, 0.3);
}

@layer components {
    .text-shadow {
        text-shadow: var(--text-shadow);
    }
    .text-shadow-sm {
        text-shadow: var(--text-shadow-sm);
    }
}